<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("header",{includeLastUpdated: true}) _%>
    <main>
      <a class="button new-message" href="/new">Post a new message</a>
      <ul class="message-list">
        <% for (message of messages){ %>
        <li class="message">
          <header class="message-header">
            <span class="message-user"><%= message.user %></span>
            <span>•</span>
            <span class="message-added"><%= dateToStr(message.added) %></span>
          </header>
          <p class="message-text"><%= message.text %></p>
        </li>
        <%}%>
      </ul>
    </main>
    <%- include("creditFooter") _%>
  </body>
</html>
