<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | Message details</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <%- include("partials/dateScript") _%>
  </head>
  <body data-now="<%= (new Date()).toISOString() %>">
    <%- include("partials/header",{includeLastUpdated: true, dateToStr}) _%>
    <main>
      <a class="button back-to-messages" href="/">Back to all messages</a>
      <div class="message-details centered-text">
        <% if(message != null){ %> <%- include("partials/message", {message,
        dateToStr})%> <%} else {%> This message does not exist! <% } %>
      </div>
    </main>
    <%- include("partials/creditFooter") _%>
  </body>
</html>
