<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | Post a new message</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <%- include("partials/dateScript") _%>
  </head>
  <body>
    <%- include("partials/header",{title: "Post a new message"}) %>
    <main>
      <%- include("partials/invalid",{validationErrors:
      locals.validationErrors}) %>
      <%-include("partials/harmful",{harmfulCategories:
      locals.harmfulCategories}) %> <%-
      include("partials/form",{text:locals.text, user:locals.user}) %>
    </main>
    <%- include("partials/creditFooter") %>
  </body>
</html>
